extends athlete_layout_main_training_session



block content
  //- h1 Welcome to #[strong #{title}] main page.
  h1 #{title1}: #{objective_detail.obj_title}
  
   
  p Do you really want to delete this Objective?
    
    //form(method='POST' action='')
    //  div.form-group
    //    input#authorid.form-control(type='hidden',name='authorid', required='true', value=objective_detail._id )
    //  button.btn.btn-primary(type='submit') Yes
      
      
    div(class='col-md-1')
      form(method='POST' action=objective_detail.url + '/delete')
         div.input
            input(class="form-control" type="submit",name="timeInterval", value="Yes")
    div(class='col-md-1')
      form(method='GET' action=objective_detail.url + '/../../objectives' )
         div.input
            input(class="form-control" type="submit",name="timeInterval", value="No")
  
  